.range__left {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: @basic-black;
}

.range__slider {
  background: @basic-white;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  border-radius: 6px;
}

.range__right {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: @basic-black;
}
